* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.3em;
}

.flex-item {
  width: 200px;
  height: 100px;
  margin: 1px;
  padding: 10px;
  background-color: purple;
  color: white;
  text-align: center;
}

.flex-container {
  height: 400px;
}

/* Add your code here */
.flex-container{
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap; 
}

.flex-container :nth-child(8), .flex-container :nth-child(1), .flex-container :nth-child(5){
  order: -5;
}

.flex-container :nth-child(4){
  order: -4;
  
}
.flex-container :nth-child(3){
  order: -3;
  
}
.flex-container :nth-child(2), .flex-container :nth-child(9){
  order: -2;  
}
.flex-container :nth-child(7){
  order: -1;
}
.flex-container :nth-child(6){
  order: 0;
}

